<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link href="https://fonts.googleapis.com/css?family=Federo|Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css" />
    <link
            href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css"
            rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" />
    <link th:href="@{/css/home.css}" rel="stylesheet" />
    <link th:href="@{/css/cart_style.css}" rel="stylesheet" />
<title>La Siesta Danang Resort</title>
    <link rel="icon" th:href="@{/img/favicon.jpg}">
</head>

<body>
<!-- Fixed navbar -->
<div th:replace="~{website/header :: header}"></div>
<!-- End Of Navbar -->

<div class="hotel-container">
    <h1>La Siesta Danang Resort</h1>

    <h3><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star"></i>
        <br>09 Vo Nguyen Giap Street, Son Tra District, Danang city, Vietnam
    </h3>

    <a class="col-sm-12 col-md-10" th:href="@{/cart}">Back to rates</a>
    <a class="col-sm-12 col-md-2" th:href="@{/complete-booking}">Skip this step</a>
    <hr>

    <section class="bg-light my-5">
        <div class="container">
            <div class="row">
                <!-- cart -->
                <div class="col-lg-9">
                    <div class="card border shadow-0">
                        <div class="m-4">
                            <h2>Choose Options</h2>
                            <h3>For your room (Payment upon check-in)</h3>
                        </div>

                        <div class="border-top pt-4 mx-4 mb-4">
                            <div class="rate-list-container">
                            <label class="radio-select-large">
                                <input class="radio-select-large-input" type="checkbox" name="option" value="Buffet Special Breakfast at 300.000 VND net/adult/night">
                                <div class="radio-select-large-content">
                                    <strong class="radio-select-large-title">Buffet Special Breakfast </strong>
                                    <p>Rate: 300.000 VND net</p>
                                    <small class="radio-select-large-description">Per adult/stay</small>
                                </div>
                            </label>
                            <label class="radio-select-large">
                                <input class="radio-select-large-input" type="checkbox" name="option" value="Bana Hills cable car tour (>1,4 meters) at 550.000 VND net/ adult/time">
                                <div class="radio-select-large-content">
                                    <strong class="radio-select-large-title">Bana Hills cable car tour (>1,4 meters) </strong>
                                    <p>Rate: 550.000 VND net</p>
                                    <small class="radio-select-large-description">Per adult/time</small>

                                </div>
                            </label>
                            <label class="radio-select-large">
                                <input class="radio-select-large-input" type="checkbox" name="option" value="Private airport transfer service at 1.550.000 VND/ adult/way">
                                <div class="radio-select-large-content">
                                    <strong class="radio-select-large-title">Private transfer service from the airport to the hotel</strong>
                                    <p>Rate: 1.550.000 VND net </p>
                                    <small class="radio-select-large-description">Per adult/way</small>
                                </div>
                            </label>
                        </div>
                            <hr>
                            <h2> General Conditions of Sales</h2>
                            <p>(1) The prices indicated are per accommodation (room, bed, etc.) or other services, for the number of people and the date(s) selected previously, unless otherwise specified. If they are not included in the rate or specifically selected when the reservation is made, supplementary services (breakfast, half board, full board etc.) are available as option which can be paid at the hotel directly.

                                Taxes are included in the price or indicated in the tax details. Some taxes may be payable on arrival at the hotel (for example, tourist tax), depending on current local regulations.</p>

                            <p>All bookings, wherever they are made, are payable in the hotel's currency.​ Only the amount confirmed during the booking in the currency of the hotel is guaranteed. Conversion to the customer's currency is given for reference only and is not part of the contract. Costs linked to conversions between the hotel's currency and that of the customer (exchange rates, bank fees) shall be paid by the customer.​</p>

                            <p>The amount is converted according to the exchange rate of the day provided by our partner DEVISEA, with the Euro as reference currency.</p>

                            <p>The promotion displayed applies to the standard rate of the day offered by the hotel. The standard rate may vary depending on the reservation period and the dates of stay.</p>
                        </div>
                    </div>
                </div>
                <!-- cart -->
                <!-- summary -->
                <div class="col-lg-3">
                    <div class="card mb-3 border shadow-0">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label class="form-label">Have coupon?</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control border" name="" placeholder="Coupon code" />
                                        <button class="btn btn-light border">Apply</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card shadow-0 border">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Total price:</p>
                                <p class="mb-2 total">$329.00</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Discount:</p>
                                <p class="mb-2 text-success">0</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">TAX:</p>
                                <p class="mb-2">0</p>
                            </div>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Total price:</p>
                                <p class="mb-2 fw-bold total">$283.00</p>
                            </div>

                            <div class="mt-3">
                                <a th:href="@{/cart/complete-booking}" class="btn btn-success w-100 shadow-0 mb-2"> CONTINUE </a>
                                <a href="#" class="btn btn-light w-100 border mt-2"> BACK TO ROOMS </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- summary -->
            </div>
        </div>
    </section>


<!-- cart + summary -->
<div th:replace="~{website/footer :: footer}"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script
        src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js">
</script>
<script th:src="@{/js/cart_script.js}"></script>

<script>
    $(document).ready(function() {
        // Lấy giá trị total từ LocalStorage
        var totalAmount = localStorage.getItem("totalAmount");
        // Hiển thị total trên trang
        $('.total').text(totalAmount);
    });
</script>


</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

</html>