<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register successful - La Siesta Danang Resort</title>
    <link rel="icon" th:href="@{img/favicon.jpg}">
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-success">Success!</h1>
            <p class="lead">Your Registration was successful.</p>
            <p>Thank you for your interest of our service at La Siesta Danang Resort.</p>
            <a class="btn btn-primary" th:href="@{/}">Back to Home</a>
        </div>
    </div>
</div>
<script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>
